h1, div {
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: 100%;
  margin: 0;
}

body {
  background: url("https://i.imgur.com/yNixJ0z.jpg") center no-repeat;
}

canvas {

  -webkit-box-shadow: 3px 3px 5px 6px black;
  box-shadow:         3px 3px 5px 6px black;
}

.main-container {
  position: relative;
  border-radius: 10px;
  margin: 10px auto 0;
  z-index: 0;
  clear: both;
  width: 100%;
}

.centering-container {
  width: 100%;
  font-size: 22px;
  padding: 10px 0 25px;
  line-height: 33px;
  position: relative;
  text-align: center;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
}

.title-container {
  padding-bottom: 20px;
}

.links-container {
  padding: 20px;
}
